{% load static %}

<html lang="en">

<head>
    <title>Acasă</title>
    <link rel="stylesheet" href="{% static 'cinema/style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>


<body>
    <div class="header">
        <h1><a href="index" style="color: inherit; text-decoration: none;">Cinema</a></h1>
        {% if user.is_authenticated %}
            <span id = "hello"> Bine ai venit, {{request.user}}! <a href="logout" style="color: #ff0000; text-decoration: none;"> (logout)</a></span>
        {% else %}
        {% endif %}
        
    </div>

    <div class="content">
        <div class="navbar">
            <ul>
                <li><a class = "active" href="index">Acasă <i class="fa fa-home"></i></a></li>
                <li><a href="#program">Program <i class="fa fa-calendar"></i></a></li>
                <li><a href="profile">Profil <i class="fa fa-address-book"></i> </a></li>
                <li><a href="#contact">Contact <i class="fa fa-phone"></i></a></li>
                {% for group_for in request.user.groups.all %}
                    {% if group_for.name == 'employee' or group_for.name == 'admin'%}
                        <li><a href="employee" style = "color: #3333cc">Angajat </a></li>
                    {% endif %}

                    {% if group_for.name == 'admin' %}
                        <li><a href="admin" style = "color: #cc0000">Admin </a></li>
                    {% endif %}

                {% endfor %}
                
            </ul>
        </div>
   </div>



</body>

</html>