{% load static %}

<html lang="en">

<head>
    <title>Acasă</title>
    <link rel="stylesheet" href="{% static 'cinema/style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>


<body>
    <div class="header">
        <h1><a href="homepage" style="color: inherit; text-decoration: none;">Cinema</a></h1>
    </div>

    <div class="content">
        <div class="navbar">
            <ul>
                <li><a class = "active" href="homepage">Acasă <i class="fa fa-home"></i></a></li>
                <li><a href="#program">Program <i class="fa fa-calendar"></i></a></li>
                <li><a href="login">Profil <i class="fa fa-address-book"></i> </a></li>
                <li><a href="#contact">Contact <i class="fa fa-phone"></i></a></li>
            </ul>
        </div>
   </div>



</body>

</html>